ul {
  list-style-type: none;
  position: absolute;
  top: 350px;
  margin-left: 40%;

}
.main-block {
  margin: auto;
  font-family: "Noto Sans JP", regular;
}
.circle-item {
  border-radius: 50%;
  margin: 18px auto 18px;
  display: block;
  max-width: 99%;
  max-height: 99%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 1;
}
.circle-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
h1 {
  width: 100%;
  font-size: 4.5em;
  font-weight: 400;
  color: rgba(64, 159, 255, 0.795);
  position: absolute;
  top: 10vh;
  margin-left: 25%;
  margin-bottom: 2px;
  transition: 0.3s;
}
.account {
  position: absolute;
  margin: 18px auto 18px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
}
.list-circle {
  border-radius: 140px;
  width: 70px;
  height: 70px;
  background:rgba(50, 146, 255, 0.527);
}
@media screen and (max-width: 790px) {
  h1 {
    font-size: 2em;
    margin-left: 40px;
  }
  .circle-item {
    border-radius: 0px;
    height: 90%;
  }
  .account {
    display: none;
  }
}
